---
import "@fontsource-variable/fira-code";
import "@/styles/tailwind.css";
import { SEO } from "astro-seo";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <SEO
      title="LAAM.DEV CV"
      description="Print-friendly CV of Full Stack Developer Luis Anaya."
      openGraph={{
        basic: {
          title: "LAAM.DEV CV",
          type: "A type.",
          image: "/images/og.webp",
        },
      }}
      twitter={{
        creator: "@laam_dev",
      }}
      extend={{
        // extending the default link tags
        link: [{ rel: "icon", href: "/favicon.ico" }],
        // extending the default meta tags
        meta: [
          {
            name: "twitter:image",
            content: "/images/og.webp",
          },
          { name: "twitter:title", content: "LAAM.DEV" },
          {
            name: "twitter:description",
            content: "Print-friendly CV of Full Stack Developer Luis Anaya.",
          },
        ],
      }}
    />
  </head>
  <body class="max-w-2xl mx-auto py-16 font-mono">
    <slot />
  </body>
</html>
